#map {
  height: 400px;
/* The height is 400 pixels */
  width: 100%;
/* The width is the width of the web page */
} 
* {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth897.cur), auto !important;}


.jumbotron {
    background-image: url('https://media4.giphy.com/media/wKNShEiXo1V5SFwyMa/200w.webp?cid=ecf05e47q4ybkrpxt225vcq01r5urji0p209ge58afuxjzqe&rid=200w.webp&ct=g');
    height:100%;
    width:100%;
    background-size: cover;
    background-position: center;
    }
    
    .jumbotron .container {
    position: relative;
    top:100px;
    }

    html,
    body,
    .intro {
        height: 50%;
    }
    
    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }

    

    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
      .form-outline {
          position: relative;
          
      }