*{
  color: black;
  opacity: 2;
}

#map {
  position: relative;
  width:100%;
  height: 350px;
/* The height is 400 pixels */
/* The width is the width of the web page */
} 
/* * {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth897.cur), auto !important;}
article{
  position: relative;
} */

li {
  cursor: pointer;
}
.gcse-search{
  background-color: aquamarine;
  color: aqua;
}
.jumbotron {
    background-image: url('https://media1.giphy.com/media/3o7TKpqTDXwPCuiqlO/200w.webp?cid=ecf05e47popyowi70waea739oz74z847i3yphwu1z4o8h138&rid=200w.webp&ct=g');
    height:100%;
    width:100%;
    background-size: cover;
    background-position: center;
    position:relative;
    }

    .jumbotron .container {
    position: relative;
    top:100px;
    }

    html,
    body,
    .intro {
        height: 100%;
        background-color: rgb(13, 12, 12);
    }
    #band-button{
      color: rgb(6, 187, 243);
      background-color: rgb(38, 40, 45);
      border-radius: 25px;
      font-size: 15px;
      font-family: cursive;
    }
    .mask-custom {
      text-align: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
    #myInput:focus {outline: 3px solid #ddd;}

.container{
  text-align: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 2em;
        border: 2px solid rgba(255, 255, 255, 0.05);
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
        color: rgb(16, 22, 211);
    }

 
  
      .form-outline {
          position: relative;
          
      }
      #glass-container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        opacity: .6;
        background-attachment: fixed;
      }
