#map {
  position: relative;
  width:100%;
  height: 150px;
/* The height is 400 pixels */
/* The width is the width of the web page */
} 
* {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth897.cur), auto !important;}
article{
  position: relative;
}

.jumbotron {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtZA1wzBKWZm-J4lNTu15Djlu7WrX8RNMf2A&usqp=CAU');
    height:100%;
    width:100%;
    background-size: cover;
    background-position: center;
    position:relative;
    }
    
    .jumbotron .container {
    position: relative;
    top:100px;
    }
    .container {
      position: relative;
      width: 100%;
      height:30%;
    }
  #myCarousel{
height: 50%;
width: 50%;
position: absolute;
left: 0;
top: 0;
  }
#mapBox{
  width: 100%;
}
